# Created by .ignore support plugin (hsz.mobi)
autogenerate
bin
logs
node_modules
static/public
static/styles/default
npm-debug.log
package-lock.json
# Exclude compiled files
build

# Exclude IDE project folders
.happypack
.idea
.vscode
.project
*.sublime-project
*.sublime-workspace
debug.js
# OS files
.DS_STORE

.js.map

# vi files
.tern-project
*.swp

# lerna backup files
*.lerna_backup

.vscode

packages/*/lib
*.log
